.filterrow {
  padding-right: 1rem !important;
  padding-left: 33%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}
.button {
  border-radius: 28px !important;
  background-color: white !important;
  color: white !important;
  margin-top: 1rem !important;

  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.search-desktop {
  color: black;
  font-weight: bold;
}
